# Environment files
.env

# Image files 
.png
.jpg
.jpeg
.gif

# Document files
.pdf
.doc
.docx

# .env files
.env
.env.docker

# venv folder
backend/venv

# Ignore pycache and __pycache__ folders
__pycache__/
*.pyc

# images in backend/static/
backend/static/